html {
    display: block;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
/* 
:root {
    --color-primary: white;
    --color-secondary: apricot;
    --color-melon: var(--color-melon);
    --color-pink: hex(E5989B);
    --color-plum: var(--color-plum);
    --color-lavendar: hex(B5838D);
    --color-pink_lavendar: hex(E0B1CB);
    --color-lilac: hex(BE95C4);
    --color-cultured: hex(E9ECEF);
    --color-Gaingboro: hex(DEE2E6);
    --br-s2: 14px;
} */
ul{
    list-style-type: none;
    margin:0;
    padding: 0%;
}
li {
    list-style-type: none;
        margin: 0;
        padding: 0%;
}
h1 {
    text-align: center;
}
h3 {
    margin: 0;
    padding: 0;
}
h2{
    text-align: center;
}

body {
    background-color: var(--color-primary);
    font-family: 'Great Vibes', sans-serif;
    font-size: 1.1rem;
    background-color: ghostwhite;
    color:black;
    transition: .4s ease-in-out;
}

 a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
} 

header {
    text-align: center;
    color:black;
    height: 100%;
    background-color: ghostwhite;
    overflow: hidden;
    padding: 10px 20px;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18rem;
    background-color: hex(E9ECEF);
}       
.p-class{
    color: black;
    text-align: left;
    padding: auto;

}
